.feed {
    background-color: rgb(0, 0, 0);
}

.post {
    width: 500px;
}

.user-info {
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 0;
    padding: 10px 0 10px 0;
}

.user-photo {
    border-radius: 50%; /* Apply circular border-radius */
    height: 5vw; /* Using vw for responsive height */
    width: 5vw; /* Using vw for responsive width */
    max-height: 30px; /* Fallback for smaller screens */
    max-width: 30px; /* Fallback for smaller screens */
    object-fit: cover; /* Ensure the image covers the circular area */
    margin-right: 0.625rem; /* Add margin for spacing between the icon and text */
}

.username {
    font-weight: bold;
}

.username-caption {
    font-weight: 600;
    font-size: 14px;
}

.post-photo {
    height: 500px;
}

.post-actions {
    display: flex;
    flex-direction: row;
}

.post-actions-button {
    background: none;
}

.post-actions-button img {
    height: 24px;
    width: 24px;
}

.caption-container {
    display: flex;
    flex-direction: row;
}

.username-caption {
    font-weight: 600;
    font-size: 14px;
    padding-right: 10px;
}

.caption {
    font-size: 14px;
    font-weight: 400;
}
